In [ ]:
pip install pandas

In [4]:
import pandas as pd

In [5]:
url = "https://raw.githubusercontent.com/higoramario/univesp-com400-visualizacao-computacional/main/semana-2-exercicio-apoio-1-vendas-sorvete.csv"

In [6]:
df = pd.read_csv(url)

In [7]:
df

    temperatura  vendas
0          14.2     215
1          16.4     325
2          11.9     185
3          15.2     332
4          18.5     406
5          22.1     522
6          19.4     412
7          25.1     614
8          23.4     544
9          18.1     421
10         22.6     445
11         17.2     408
12         12.5     182
13          9.1     121
14         20.3     435

In [9]:
df.to_csv("venda_sorvete_bi", index='false')